.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: '微軟正黑體';
    font-size: 14px;
    line-height: 1.6;
    color: #444444;
    min-width: 1200px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    color: #343a40;
    text-decoration: none;
}


/* 首頁頂部 */

header {
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.menu-wrapper {
    /* background-color: #bfa; */
    box-sizing: border-box;
}

.menu-wrapper h1 {
    text-indent: -9999px;
    height: 1px;
    overflow: hidden;
}

.menu-wrapper .logo {
    float: left;
    margin-left: 50px;
    padding: 5px;
    /* background-color: #bfa; */
    /* width: 100px; */
}

.menu-wrapper .menu {
    float: right;
}

.menu .menu-item {
    float: left;
    width: 110px;
    margin-right: 20px;
}

.menu a {
    display: flex;
    flex-direction: column;
    height: 70px;
    font-size: 16px;
    font-weight: 700px;
    letter-spacing: 1px;
    line-height: 80px;
    overflow: hidden;
}

.menu b {
    transform: translateY(0);
    transition: all .4s;
}

.menu a:hover b {
    transform: translateY(-80px);
}


/* 作品下拉 */

.menu .work_all {
    position: relative;
}

.menu .work_all:hover .works {
    height: 100px;
}

.works {
    position: absolute;
    width: 160px;
    height: 0;
    overflow: hidden;
    left: -9px;
    top: 65px;
    background-color: #f0f0f0;
    transition: all .3s;
    z-index: 99;
}

.works li a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f6f6f6;
}

.works li a:hover {
    color: #c00;
}


/* 資訊欄 */

.information-wrapper {
    margin-top: 100px;
    margin-bottom: 150px;
    position: relative;
}

.information-wrapper .information {
    float: left;
    width: 507px;
    /* background-color: #bfa; */
    font-size: 21px;
    margin-left: 28px;
    letter-spacing: 1px;
    padding-left: 10px;
}

.information li {
    margin-bottom: 5px;
}

.information .tel::before {
    content: '電話號碼：';
    background-image: url(../img/index/phone-call.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information .cell::before {
    content: '手機：';
    background-image: url(../img/index/cell-phone.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information .line::before {
    content: '專人Line id:';
    background-image: url(../img/index/line.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information .mail::before {
    content: '電子信箱:';
    background-image: url(../img/index/envelope.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information .address::before {
    content: '事務所地址:';
    background-image: url(../img/index/map.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information .time::before {
    content: '營業時間:';
    background-image: url(../img/index/clock.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: center;
}

.information-wrapper .map {
    float: right;
    /* background-color: #abc; */
    width: 550px;
    height: 200px;
    overflow: hidden;
}

.information-wrapper .social-media {
    position: absolute;
    bottom: -10px;
    right: 0;
}

.social-media i {
    font-size: 28px;
    margin-left: 10px;
    color: #999;
}

.social-media i:hover {
    color: #444444;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #444;
    color: white;
}