main {
    position: relative;
}

.-on {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.contact-wrapper {
    padding-top: 50px;
    position: relative;
}

.contact-title {
    text-align: center;
}

.contact-title h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
}

.contact-title h3 {
    font-size: 24px;
    margin-bottom: 50px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}

.socialmedia a {
    display: block;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    text-align: center;
    /* background-color: #bfa; */
    font-size: 18px;
    color: #999;
    border: 2px solid #999;
    border-radius: 50%;
    padding-top: 25px;
}

.socialmedia i {
    font-size: 32px;
}

.form-wrapper {
    width: 960px;
    margin: 0 auto;
}

.form-wrapper .user {
    display: block;
    margin: 15px auto;
    width: 590px;
    height: 30px;
    padding: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
}

.form-wrapper .message {
    display: block;
    width: 590px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
    outline: none;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
}


/* 送出按鈕 */

.form-wrapper .sub {
    width: 150px;
    height: 35px;
    margin: 20px 405px;
    outline: none;
    font-size: 16px;
    border: none;
    background-color: #343a40;
    color: white;
}

.form-wrapper .sub:hover {
    background-color: #525252;
    cursor: pointer;
}


/* 彈出塊 */

.send {
    display: none;
    position: absolute;
    top: 0;
    bottom: 335px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 10;
}

.send i {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}


/* 動畫 */

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9) rotate( -3deg);
    }
    20% {
        transform: scale(0.9) rotate( -3deg);
    }
    30% {
        transform: scale(1.1) rotate( 3deg);
    }
    40% {
        transform: scale(1.1) rotate( -3deg);
    }
    50% {
        transform: scale(1.1) rotate( 3deg);
    }
    60% {
        transform: scale(1.1) rotate( -3deg);
    }
    70% {
        transform: scale(1.1) rotate( 3deg);
    }
    80% {
        transform: scale(1.1) rotate( -3deg);
    }
    90% {
        transform: scale(1.1) rotate( 3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

.socialmedia a:hover {
    animation: tada 1s;
}